<mat-toolbar color="primary">
    <span style="font-size: 45px; margin-left:43%;">Cotización</span>
</mat-toolbar>

<div class="form-container">

    
    <mat-form-field hintLabel="Libras" appearance="fill">
        <mat-label>Peso</mat-label>
        <input matInput #input maxlength="10" placeholder="Peso">
    </mat-form-field>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <mat-form-field appearance="fill">
        <mat-label>País Origen</mat-label>
        <mat-select>
          <mat-option value="option">Seleccionar</mat-option>
        </mat-select>
    </mat-form-field>

    <br>
    <br>
    <mat-form-field hintLabel="Centímetros" appearance="fill">
        <mat-label>Ancho</mat-label>
        <input matInput #input maxlength="10" placeholder="Ancho">
    </mat-form-field>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <mat-form-field appearance="fill">
        <mat-label>País Destino</mat-label>
        <mat-select>
          <mat-option value="option">Seleccionar</mat-option>
        </mat-select>
    </mat-form-field>

    <br>
    <br>
    <mat-form-field hintLabel="Centímetros" appearance="fill">
        <mat-label>Alto</mat-label>
        <input matInput #input maxlength="10" placeholder="Alto">
    </mat-form-field>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <mat-form-field hintLabel="" appearance="fill">
        <mat-label>Código Cliente</mat-label>
        <input matInput #input maxlength="10" placeholder="Ex. 11012022">
    </mat-form-field>
    <br>
    <br>
    <mat-form-field hintLabel="Centímetros" appearance="fill">
        <mat-label>Largo</mat-label>
        <input matInput #input maxlength="10" placeholder="Largo">
    </mat-form-field>
        <button mat-raised-button color="primary" (click)="Registrar()">Registrarme</button>
    <br>
    <br>
    <div class="buttons">
        <button mat-raised-button color="primary" (click)="Calcular()">Calcular</button>
        <button mat-stroked-button color="accent" (click)="Limpiar()">Limpiar</button>
    </div>
    <br>
    <div>
        <mat-card>
            <mat-label>Región</mat-label>
            <br>
            <br>
            <mat-label>Tarifa</mat-label>
            <br>
            <br>
            <mat-label>Descuento</mat-label>
            <br>
            <br>
            <mat-label>Total</mat-label>
        </mat-card>
    </div>
    
  </div>